body {
    margin-top: 14em;
}

.H1 {
text-align: center;
}

.bigBoxes div {
    height: 200px;
    width: 200px;
}




.headers {
    margin:0;
    padding:0;
    text-align: center;
}

.title_1 {
    text-decoration: underline ;
    text-align: center;
}


.boxed {
    border:1px solid green;
    height: 13em;
    width: 14em;
    
}


.red_box {
    background-color: red;
    border:5px solid black;
}

.blue_box {
    background-color: blue;
    border:5px dashed yellow;
}

.green_box {
    background-color: lawngreen;
    border:5px solid plum;
}

h6{
    text-align: center;
    margin: 20px;
}
h4{
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    margin: 35px;
}
.boxes div{
    height: 200px;
    margin: 0 30px;
}

.changeB{
    color: blue;
    text-decoration: underline;
    text-align: center;
    margin: 20px;
    cursor: pointer;
}
.hideB{
    color: blue;
    text-decoration: underline;
    text-align: center;
    margin: 20px;
    cursor: pointer;
}

.hideBut div{
    background: grey;
text-align: center;
padding: 6px;
margin: 0 10px;
justify-content: center;
cursor: pointer;
}

.changeBut div{
background: grey;
text-align: center;
padding: 6px;
margin: 0 10px;
justify-content: center;
cursor: pointer;}

.resetcol_1
{
    background: grey;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    margin: 20px 10px;
    justify-content: center;
    cursor: pointer;   
}

.showall_1 div{
    text-align: center;
    padding: 10px;
    margin: 20px 10px;
    justify-content: center;
    cursor: pointer;   
}


.showall {
    background-color: grey;
    padding: grey;
    margin: 0;
    padding: 0;
}


.showall_1 div .hidden{
    color: white;
    background: white;
    padding:20 px solid white;
    border: white;
    visibility: hidden;

}